<h1>Détails d'une liste</h1>
  <div class="d-flex justify-content-between">

    <h2>Nom: <%= @list.name %></h2>


    <%= link_to lists_path do %>
      <button class="btn btn-warning">Retour</button>
    <% end %>

  </div>


  <div class="mt-5">
    <div class="d-flex justify-content-between">

      <h3>Bookmarks</h3>
      <%= link_to new_list_bookmark_path(@list) do %>
        <button>Créer un bookmark</button>
      <% end %>

    </div>

    <% @list.bookmarks.each do |bookmark| %>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Titre: <%= bookmark.movie.title %></h5>
              <p class="card-text"><%= bookmark.comment %></p>
              <%= link_to "Supprimer", bookmark_path(bookmark), class:"btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "sûr ?" } %>
            </div>
          </div>
        </div>

    <% end %>
  </div>
